<!DOCTYPE html>
<html>
<head>
  <title>StoreApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
		<% if current_user %>
		  <% if current_user.owner? %>
            <%= link_to "New Admin", new_admin_path %> |
		    
		 <% end %>
		<%= link_to "Home", root_url %> |
		<%= link_to "New Product", new_product_path %> |
		<%= link_to "Log Out", logout_path %> |
		 Logged in as <%= current_user.username %>
		<% else %>
		<%= link_to "Home", root_url %> |
		<%= link_to "Log in", login_path %>
		<% end %>



<%= bootstrap_flash %>

<%= yield %>

</body>
</html>
